<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} {{ site_title() }} {% endblock %}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block description %} {{ site_description() }} {% endblock %}">
    <meta name="author" content="Erika Heidi">

    {% block includes %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
        <link href="/css/prism.css" rel="stylesheet">
        <link href="/css/default.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Yanone+Kaffeesatz:wght@500&display=swap" rel="stylesheet">
        <script type="text/javascript" src="/js/prism.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159156016-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-159156016-1');
        </script>

    {% endblock %}
</head>

<body>

    <header>
        <ul class="social-menu">
            {% for title,link in social_links() %}
                <li><a href="{{ link }}" title="{{ title }}"><img src="/images/icons8-{{ title }}-50.png"></a></li>
            {% endfor %}
        </ul>

        <h1><a class="blog-header-logo text-dark" href="{{ site_root() }}">{{ site_title() }}</a></h1>
    </header>
    <ul class="site-menu">
       <li><a href="/_p/about">about</a></li>
       <li><a href="/blog">blog</a></li>
        <li><a href="/live">live coding</a></li>
        <li><a href="/_pt-br/">pt-br</a></li>
    </ul>

    {% block featured_content %}

    {% endblock %}

<main role="main" class="container">

    {% block content %}
    {% endblock %}

</main><!-- /.container -->

{% include '_partials/footer.html.twig' %}
</body>

</html>

