{% extends 'base.html.twig' %}

{% block title %}Live Coding and DevOps with Erika Heidi{% endblock %}
{% block description %}In this page, you can watch my live streams via Twitch.{% endblock %}
{% block includes %}
    {{ parent() }}
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@erikaheidi">
    <meta name="twitter:title" content="Live Coding with @erikaheidi">
    <meta name="twitter:description" content="In this page, you can watch my live streams via Twitch.">
    <meta name="twitter:creator" content="@erikaheidi">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="https://eheidi.dev/images/offline_channel.jpg">

{% endblock %}

{% block content %}
    <h2>Live Streaming</h2>
<iframe
        src="https://player.twitch.tv/?channel=erikaheidi&parent=localhost&parent=eheidi.dev"
        frameborder="0"
        width="100%"
        height="400px"
        scrolling="no"
        allowfullscreen="allowfullscreen">
</iframe>

    <h2>Past Live Sessions</h2>
    <section class="past_streams">
        {% for post in past_streams %}
            <div>
                <a href="{{ site_root() }}{{ post.link }}"><img src="{{ post.frontMatterGet('thumb_image') }}" alt="{{ post.title }}"/></a>
                <p>{{ post.title }}</p>
            </div>
            {% if loop.index % 3 == 0 %}<span class="clear"></span>{% endif %}
        {% endfor %}
        <span class="clear"></span>
    </section>
{% endblock %}